@import "tailwindcss";




::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin-block: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.15),
            rgba(255, 255, 255, 0.08));
    border-radius: 999px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(156, 163, 175, 0.7);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(156, 163, 175, 1);
}

.icon::before {
    content: "";
    width: 10px;
    position: absolute;
    top: -18px;
    left: 40px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #282830e8 transparent;
}